<div class="container mb-5">
    <div class="row">
        <?php
            $_news = $this->getNews();
            if (empty($_news)):
        ?>
        <div class="col-12 mt-5">
            <div class="alert alert-primary" role="alert">
                Новостей пока нет, запустите импортер
            </div>
        </div>
        <?php else:?>
            <?php foreach ($_news as $i):?>
        <div class="col-4">
            <div class="card mt-4">
                <?php if (!empty($i['image'])):?>
                    <img class="card-img-top" src="<?=$i['image']?>" alt="<?=$i['title']?>">
                <?php endif;?>
                <div class="card-body">
                    <h5 class="card-title"><?=$i['title']?></h5>
                    <p class="card-text"><?=$this->truncate(trim(strip_tags($i['body'])), 200)?></p>
                    <a href="<?=$this->uri('/news/')?>?id=<?=$i['id']?>" class="btn btn-primary" target="_blank">Подробнее</a>
                </div>
            </div>
        </div>
            <?php endforeach;?>
        <?php endif;?>
    </div>
</div>