<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title"><?=$news['title']?></h5>
                    <?=$news['body']?>
                </div>
            </div>
        </div>
    </div>
</div>